
body {
  background-color: rgb(223, 194, 194);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculatorContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.resultContainer {
  text-align: right;
  background-color: rgb(133, 134, 148);
  padding: 35px;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  padding: 50px;
  cursor: pointer;
  color: #000;
  font-size: 25px;
  outline: none;
}

.first-row button:last-child,
.second-row button:last-child,
.third-row button:last-child,
.fourth-row button:last-child,
.fifth-row button:last-child {
  background-color: #f5913e;
  border: none;
  border-top: 2px solid #e0e0e0;
}

.fifth-row {
  display: flex;
}

.fifth-row button:first-child {
  flex: 2;
  flex-basis: 50%;
}

.fifth-row button:nth-child(2) {
  flex: 1;
  flex-basis: 25%;
}

.fifth-row button:nth-child(3) {
  flex: 1;
  flex-basis: 25%;
}

.calculator {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* -----style in react routing---- */
* {
  padding: 0;
  margin: 0;
}

nav {
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: #fff;
}

.container {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  margin-top: 1.5rem;
}

.nav-content {
  width: 90%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 10vh;
}

.nav-links {
  width: 18%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

article {
  margin-bottom: 1rem;
}

.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: '';
  width: 0;
  background: coral;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-links li:hover::after {
  width: 100%;
}
